#ht_feedback
    padding 60px 0
    min-height calc(100vh - 900px)
.ht_feedback_title
    font-size: 26px
    margin-bottom: 60px
    font-family: "AkrobatBold", sans-serif;
    color: #fefefe;
    text-shadow: 3.064px 2.571px 0px rgba(13,10,10,0.41);
    text-align: center
    span
        display block
        font-size: 32px;
        font-family: "AkrobatBlack", sans-serif;
        text-transform: uppercase;
        line-height: 1;
        text-align: center;
        margin-bottom: 10px;
        color #e00d02
#vk
#fb
    background-color #fff
    border-radius: 3px