@media screen and (min-height 860px)
    #main
        min-height calc(100vh - 190px)
@media screen and (min-height 1400px) 
    #main
        min-height calc(100vh - 190px)
    .main_title
        margin 40px 0
    .main_date
        margin-bottom: 40px
    .video_wrapper_main
            max-width 850px
@media screen and (min-width 1900px) 
    #main
        min-height calc(100vh - 190px)
    .main_title
        margin 40px 0
    .main_date
        margin-bottom: 40px
    .video_wrapper_main
        max-width 850px
@media screen and (min-width 2290px)
    .container
        width 1400px
    #logo
        width auto
    .contacts a .fa+span
    .contacts a .fa
    #footer #conditions, #footer p
        font-size: 18px
    .pre
        font-size: 22px
    .main_sub_title
        font-size: 26px
    .video_wrapper_main
        max-width 1050px