section#last
	.container
		h3.lasts_title Забрать мини-курс за 
			span 190 р. 
			|  вместо 
			span 1900 р.
		ul.lasts_list
			li Насыщенный лекторий
			li Доходчивые разъяснения
			li Наука и духовность, эмоции и вибрации
			li Глубокие техники осознанности
			li Благостный самоконтроль и трансформация
		a.button.button_last(href="https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=2253&clean=true&lg=ru" target="_blank") Воспользоваться предложением