section#main
    .container
        #header
            a(href="/", target="_blank")
                img#logo(src="../img/logo.png", alt="Логотип")
            .contacts
                a.tel(href="callto:8-929-568-87-50")
                    i.fa.fa-phone(aria-hidden="true")
                    span 8-929-568-87-50
                a.tel(href="callto:8-499-346-79-46")
                    i.fa.fa-phone(aria-hidden="true")
                    span 8-499-346-79-46
                a.skype(href="skype:add?admin-mastervision")
                    i.fa.fa-skype(aria-hidden="true")
                    span admin-mastervision
                a.mail(href="mailto:info@mastervision.su")
                    i.fa.fa-envelope(aria-hidden="true")
                    span info@mastervision.su
        p.pre Спецпредложение от Никиты Раздорского
        h1.main_title Вы успешно зарегистрировались на уникальный интенсив “Метафизика”, встречный бонус уже отправлен Вам на почту. А сейчас не спешите закрывать эту страницу, внизу Вас ожидает специальное предложение
        h2.main_sub_title Смотрите видео
        .row
            .col-md-6.col-sm-6
                .video_wrapper.video_wrapper_main
                    iframe(src="https://youtube.com/embed/lVl8EHykWNw?rel=0&autoplay=0" allowfullscreen)
            .col-md-6.col-sm-6
                h3.only_for Только для участников интенсива!
                .price.price_today Стоимость - 
                    span 1900 р.
                a.button.button_main(href="https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=2253&clean=true&lg=ru" target="_blank") Купить за 190 р.