section#second
	.container
		h4.seconds_title Запись лектория 
			span “Структуры событий” 
			| расскажет Вам о том, как на самом деле приходят “уроки” и моральные проработки в жизнь человека, и как в кратчайшие сроки с достоинством пройти сквозь событие, освоить духовный урок, который событие несет с собой, и сбросить оковы негатива. Введение в настоящую Осознанность