section#third
	.container
		h3.thirds_title Как итог:
		ul.thirds_list
			li Вы легко идентифицируете смысл урока, который несёт в себе событие;
			li Ваша энергия мягко трансформируется, вы проходите урок и духовно растете;
			li Ваши события сейчас и впредь завершаются благостно и без отягощения;
			li Вы способны предупреждать негативные события и завершать урок до его проявления;