#author
    .container
        h3.general_title Об авторе
        .row
            .col-md-6.col-sm-4
                img(src="img/nic_about.png", alt="Никита Раздорский")#nic_about
            .col-md-6.col-sm-8
                h4.nic_about_name Никита Раздорский
                ul.nic_about_list
                    li целитель тяжелых заболеваний (мастером успешно вылечены: аневризма сосудов головного мозга, рак лимфатической системы, наследственная гемофилия и множество других заболеваний)
                    li эксперт тарологии, разработал авторскую систему универсального таро
                    li видящий, имеет опыт “самадхи” (разотождествление с энергией и созерцание архитектуры Мироздания)
                    li прогрессор и новатор эзотерического знания, не имеет учителей, транслирует эксклюзивный материал и совершенно новую точку зрения на энергетические процессы
                    li экстрасенс и парапсихолог, многолетняя частная практика
                    li учитель практикующих тренеров, целителей и экстрасенсов
                    li Манифестор 5\1, цельная определенность (профиль Human Design)
    img(src="img/clouds_about.png", alt="Облака")#clouds_about