
#for
    .container
        h3.general_title Для кого этот интенсив:
        .row
            .col-md-4
                img(src="img/for_icon_1.png", alt="Иконка").for_img
                p.for_text Вы обладаете конкретными знаниями о разных аспектах человеческой природы - как формируются болезни, как действует сила мысли - но до сих пор не сложилась цельная картина нашего мира и его взаимозависимостей
            .col-md-4
                img(src="img/for_icon_2.png", alt="Иконка").for_img
                p.for_text Вы - консультант, коуч или практикующий эзотерик, Вы хотите развиваться, расширить кругозор и повысить свою квалификацию
            .col-md-4
                img(src="img/for_icon_3.png", alt="Иконка").for_img
                p.for_text Вы хотите почувствовать осознанность в настоящем моменте и обрести контроль над собственными эмоциями, чувствами и действиями, но до сего момента в полной мере у Вас это не получалось
        .row
            .col-md-4
                img(src="img/for_icon_4.png", alt="Иконка").for_img
                p.for_text Вы новичок, решили познакомиться с миром эзотерического знания и хотите начать с наиболее эффективного курса, не отвлекаясь на узкие учения
            .col-md-4
                img(src="img/for_icon_5.png", alt="Иконка").for_img
                p.for_text Вы мучаетесь вопросом о смысле жизни, пробуете разные знания, погружаетесь в мифы, лишь бы просто найти смысл, но так его и не находите
            .col-md-4
                img(src="img/for_icon_6.png", alt="Иконка").for_img
                p.for_text Вы желаете постичь настоящую глубину эзотерических знаний, экстрасенсорики и целительского ремесла
        h4.for_blockquote Структура занятий не требует от участников особой подготовки. Материал одновременно подходит как новичкам, так и экспертам 
        button.button(data-toggle="modal" data-target="#myModalForm") Записаться