section#main
	.container
		include ../header
		img(src="img/nic_main.png", alt="Никита Раздорский")#nic_main
		//- img(src="img/clouds_main.png", alt="Облака")#clouds_main
		p.pre Бесплатный 3-х дневный интенсив
		h1.main_title Метафизика: 
			br
			| Механизм вашей судьбы
		h2.main_sub_title Погрузитесь в увлекательное путешествие по просторам бесконечно-вечного!
		p.main_date С 
			span.main_date_blue 31 
			| октября по 
			span.main_date_blue 2 
			| ноября, 
			span.main_date_time 19:00 (МСК)
		p.main_author Автор курса: 
			span Никита Раздорский
		.video_wrapper.video_wrapper_main
			iframe(src="" allowfullscreen)