section#plan
    .container
        h3.general_title Описание интенсива:
    .plan_day
        .plan_day_one
            .container
                .row
                    .col-md-6
                        img.plan_day_img(src="img/day_1.png", alt="День 1")
                    .col-md-6
                        h4.plan_day_title День 1. 
                            span Сотворение
                        ul.plan_day_list
                            li Человек и Мироздание, откуда и что мы такое
                            li Подробная психоэнергетическая картина человека
                            li От чего зависят спокойствие, внешность и благосостояние
                            li Что есть судьба и фатум и насколько всё предопределено
                            li Алгоритм построения событий в жизни, единый для всех людей
                            li Разные школы и учения, почему всё такое разное и при том работает
                            li Всеединство, детальная природа экстраординарных способностей
                        .bonus
                            h5.bonus_title Бонус: 
                            p.bonus_text история возникновения Жизни во всех мирах. Смысл жизни. Укрепление психики и доверия Мирозданию
    .plan_day
        .plan_day_two
            .container
                .row
                    .col-md-6
                        h4.plan_day_title День 2. 
                            span Восхождение
                        ul.plan_day_list
                            li Глубинный разбор жизненной событийности
                            li Соотношение радости и боли, как “хорошо” сменяет “плохо”
                            li Как проходить “уроки” быстро и завершать негативные события
                            li Недуги психические и физические, отчего на самом деле возникают
                            li Как устранить отягощающие тело и ум болезни, как не болеть вообще
                            li Разница между обычной болезнью (отказом тела) и недугами извне (вирусы, бактерии, травмы), детские заболевания и почему болеют дети
                        .bonus
                            h5.bonus_title Бонус: 
                            p.bonus_text рабочее состояние (экстрасенсорный транс), первый опыт настоящей сверхчувствительности, методика быстрого снятия боли
                    .col-md-6
                        img.plan_day_img(src="img/day_2.png", alt="День 2")
    .plan_day
        .plan_day_three
            .container
                .row
                    .col-md-6
                        img.plan_day_img(src="img/day_3.png", alt="День 3")
                    .col-md-6
                        h4.plan_day_title День 3. 
                            span Исцеление
                        ul.plan_day_list
                            li Как возлюбить себя, мгновенная техника
                            li Близкие отношения, разбор полётов и гармония
                            li Притянуть партнера или побудить текущего к развитию
                            li Деньги как энергия, их трансляция и проводимость индивидом
                            li Неизвестные свойства и функции энергоцентров (“чакр”) человека
                            li Углубленное изучение феномена экстрасенсорики, развить и закрепить
    .container
        p.nic_blockquote “Как вода не вскипает без огня, так и каждый процесс в нашем мире - даже малый или незримый, что обусловленный ум готов назвать случайностью или чудом - имеет под собой механизм, за счет которого он запущен и реализован. Наша задача - подлинно разобраться в устройстве человеческих судеб, экстраординарных способностей и всеединого предназначения”
        h5.nic_blockquote_aftertitle Никита Раздорский
        button.button.plan_button(data-toggle="modal" data-target="#myModalForm") Участвовать в интенсиве