#reveiws
    .container
        h3.general_title Что говорят о интенсиве?
        #videos_revs
            .row
                .col-md-6.col-sm-6
                    .video_wrapper.video_wrapper_rev(data-youtube="g9zgjDkyiVw")
                        img(src="img/revs/video_1.jpg", alt="Видео отзыв 1")
                .col-md-6.col-sm-6
                    .video_wrapper.video_wrapper_rev(data-youtube="SqaVbjvznOE")
                        img(src="img/revs/video_2.jpg", alt="Видео отзыв 2")
        #text_revs.carousel.slide(data-ride="carousel" data-interval="false")
            .carousel-inner(role="listbox")
                .item.active
                    a.text_revs_link( href="img/revs/text_1.jpg" data-fancybox="text_revs")
                        img( src="img/revs/text_1.jpg" alt="Отзыв 1")
                .item
                    a.text_revs_link( href="img/revs/text_2.jpg" data-fancybox="text_revs")
                        img( src="img/revs/text_2.jpg" alt="Отзыв 2")
                .item
                    a.text_revs_link( href="img/revs/text_3.jpg" data-fancybox="text_revs")
                        img( src="img/revs/text_3.jpg" alt="Отзыв 3")
                .item
                    a.text_revs_link( href="img/revs/text_4.jpg" data-fancybox="text_revs")
                        img( src="img/revs/text_4.jpg" alt="Отзыв 4")
                .item
                    a.text_revs_link( href="img/revs/text_5.jpg" data-fancybox="text_revs")
                        img( src="img/revs/text_5.jpg" alt="Отзыв 5")
                .item
                    a.text_revs_link( href="img/revs/text_6.jpg" data-fancybox="text_revs")
                        img( src="img/revs/text_6.jpg" alt="Отзыв 6")
                .item
                    a.text_revs_link( href="img/revs/text_7.jpg" data-fancybox="text_revs")
                        img( src="img/revs/text_7.jpg" alt="Отзыв 7")
                .item
                    a.text_revs_link( href="img/revs/text_8.jpg" data-fancybox="text_revs")
                        img( src="img/revs/text_8.jpg" alt="Отзыв 8")
                .item
                    a.text_revs_link( href="img/revs/text_9.jpg" data-fancybox="text_revs")
                        img( src="img/revs/text_9.jpg" alt="Отзыв 9")
                .item
                    a.text_revs_link( href="img/revs/text_10.jpg" data-fancybox="text_revs")
                        img( src="img/revs/text_10.jpg" alt="Отзыв 10")
                .item
                    a.text_revs_link( href="img/revs/text_11.jpg" data-fancybox="text_revs")
                        img( src="img/revs/text_11.jpg" alt="Отзыв 11")
                .item
                    a.text_revs_link( href="img/revs/text_12.jpg" data-fancybox="text_revs")
                        img( src="img/revs/text_12.jpg" alt="Отзыв 12")
                .item
                    a.text_revs_link( href="img/revs/text_13.jpg" data-fancybox="text_revs")
                        img( src="img/revs/text_13.jpg" alt="Отзыв 13")
                .item
                    a.text_revs_link( href="img/revs/text_14.jpg" data-fancybox="text_revs")
                        img( src="img/revs/text_14.jpg" alt="Отзыв 14")
                .item
                    a.text_revs_link( href="img/revs/text_15.jpg" data-fancybox="text_revs")
                        img( src="img/revs/text_15.jpg" alt="Отзыв 15")
                .item
                    a.text_revs_link( href="img/revs/text_16.jpg" data-fancybox="text_revs")
                        img( src="img/revs/text_16.jpg" alt="Отзыв 16")
                .item
                    a.text_revs_link( href="img/revs/text_17.jpg" data-fancybox="text_revs")
                        img( src="img/revs/text_17.jpg" alt="Отзыв 17")
                .item
                    a.text_revs_link( href="img/revs/text_18.jpg" data-fancybox="text_revs")
                        img( src="img/revs/text_18.jpg" alt="Отзыв 18")
            ol.carousel-indicators.text_revs_indicators
                li.active( data-target="#text_revs" data-slide-to="0")
                li( data-target="#text_revs" data-slide-to="1")
                li( data-target="#text_revs" data-slide-to="2")
                li( data-target="#text_revs" data-slide-to="3")
                li( data-target="#text_revs" data-slide-to="4")
                li( data-target="#text_revs" data-slide-to="5")
                li( data-target="#text_revs" data-slide-to="6")
                li( data-target="#text_revs" data-slide-to="7")
                li( data-target="#text_revs" data-slide-to="8")
                li( data-target="#text_revs" data-slide-to="9")
                li( data-target="#text_revs" data-slide-to="10")
                li( data-target="#text_revs" data-slide-to="11")
                li( data-target="#text_revs" data-slide-to="12")
                li( data-target="#text_revs" data-slide-to="13")
                li( data-target="#text_revs" data-slide-to="14")
                li( data-target="#text_revs" data-slide-to="15")
                li( data-target="#text_revs" data-slide-to="16")
                li( data-target="#text_revs" data-slide-to="17")
                li( data-target="#text_revs" data-slide-to="18")
            .controls.text_controls
                a( class="left carousel-control" href="#text_revs" role="button" data-slide="prev")
                    i.fa.fa-angle-left(aria-hidden="true")
                a( class="right carousel-control" href="#text_revs" role="button" data-slide="next")
                    i.fa.fa-angle-right(aria-hidden="true")
            .clearfix
        h4.right_now Начните сейчас это бесплатно!
        p Десятки учеников доверяют нам и реализуют свои цели
        button.button(data-toggle="modal" data-target="#myModalForm") Хочу таких результатов!