section#use
    .container
        p.use_subtitle Интенсив “Метафизика” 
        p являет собой квинтэссенцию древнего знания и современного научно-аналитического подхода в изучении природы человеческой психики и окружающего мира. Энергии и электромагнитные поля, судьба и предназначение, астрология и Human Design, психосоматика и целительство, экстрасенсорика и таро - впервые все эти знания сойдутся вместе в неделимой картине взаимосвязей нашего бытия и ответят на 
            span все самые важные вопросы современной эзотерики, науки и философии
        h3.general_title  Чем интенсив будет полезен?
        mixin uses(cl, cl2, src, h5, p1, p2)
            .use_container(class= cl)
                .use_container_image(class= cl2)
                    img(src= src, alt= h5)
                h5.use_container_title= h5
                p.use_container_text= p1
                p.use_container_text= p2
        .row
            .col-md-4.col-sm-6
                +uses('use_container_one','use_img_one', 'img/use_ic_1.png','Сопротивление','Начатые Вами дела/проекты/бизнес встречают сопротивление и ситуация словно проверяет Вас на прочность, не давая желаемого результата','Метафизика расскажет Вам о природе сопротивления и даст практические решения для соединения с чистым потоком, не встречающим преград')
            .col-md-4.col-sm-6
                +uses('use_container_two','use_img_two','img/use_ic_2.png','Сигналы тела','Вы испытываете боль в теле, периодически Вас настигают недуги, банальной информации о психосоматике не хватает для разрешения проблемы, а та же аюрведа на фоне науки выглядит архаичной и не приносит пользы', 'Метафизика доступно синтезирует древние знания с научными изысканиями и через глубинный аналитический подход позволит избавить тело от боли с одной стороны, с другой же покажет как не болеть вовсе')
            .col-md-4.col-sm-6
                +uses('use_container_three','use_img_three','img/use_ic_3.png','Объем кошелька','Деньги приходят к Вам лишь для существования, но не для развития или желаемых приобретений, а разные “методики раскрытия денежного потока” не дают эффекта', 'Метафизика представит Вам понятие денежной трансляции, рассмотрит природу энергии денег и на практических примерах объяснит, отчего зависит материальная проводимость индивида')
            .col-md-4.col-sm-6
                +uses('use_container_four','use_img_four','img/use_ic_4.png','Синдром "хорошего человека"','Вы спрашиваете “Чем я заслужил свои болезни и/или неудачи?”, хотя искренне считаете себя хорошим человеком в этом мире и не творите злых поступков по отношению к живым существам', 'Очевидно, что не только наши поступки и помыслы являются критериями нашей “божественной оценки”, Метафизика позволит еще глубже проникнуть в понятие "заслужить", Вы разберетесь в истинной силе притяжения наших мыслей')
            .col-md-4.col-sm-6
                +uses('use_container_five','use_img_five','img/use_ic_5.png',' Бег внутри колеса',' “А в чем же всё-таки смысл?” - мерещится вопрос, а в ответ Вы получаете лишь “пожалуй жизнь есть духовный рост” и “наверное наш смысл в развитии”, но конечный пункт путешествия под названием Жизнь остается непонятным', 'Метафизика впервые в человеческой истории срывает покров тайны с вечного вопроса и даст как ответ, так и практическое применение этого знания')
            .col-md-4.col-sm-6
                +uses('use_container_six','use_img_six','img/use_ic_6.png','Одинокое видение',' Порой Вы видите/увствуете больше чем другие, подсознание и тело тонко намекают на Ваши экстрасенсорные способности и дарования, но от сонма мистических направлений разбегаются глаза', 'Лаконично воссоединив положения древние писания и научную современность, Метафизика объяснит принципы экстраординарных способностей человека и позволит развить экстрасенсорику, целительство  как уже практикующим, так и новичкам')
            .col-md-4.col-sm-6
                +uses('use_container_seven','use_img_seven','img/use_ic_7.png',' Поиск Мастерства','Внутри Вас пылает энтузиазм приносить пользу миру, Вы жаждите быть полезным людям, развить мастерство целителя человеческих судеб и обрести навыки для разрешения любых жизненных ситуаций', 'Метафизика преподносёт универсальные ключи к целостной картине мира и взаимосвязям всего сущего и человеческое бытия, позволяя желающим обрести экспертность в гармоничном проживании на Земле')
            .col-md-4.col-sm-6
                +uses('use_container_eight','use_img_eight','img/use_ic_8.png','Карма отношений','Понятно: отношения не только для удовольствия, но и для роста через проработку старых травм. Но как быть, если близкие отношения только эти травмы и оставляют? Что делать, если Ваш партнер не желает развиваться или вовсе не спешит появиться в Вашей жизни?', 'На самом деле баланс соединения женских и мужских энергий не так прост. Метафизика расскажет ключевые аспекты гармонии и, конечно, о том, как притянуть Вашего партнера и побудить его к развитию')
            .col-md-4.col-sm-6
                +uses('use_container_nine','use_img_nine','img/use_ic_9.png','Боль Ваших близких','Небезразличный Вам человек, возможно даже партнер или ребенок замкнулся, наступает на грабли и саморазрушается, Ваше сердце обливается кровью в поисках возможности помочь ему, но сделать этого пока не удаётся', 'Вся жизнь состоит из незримого баланса разных её элементов, и Метафизика укажет Вам на реальные рычаги воздействия для смещения “весов” в сторону гармонии и благополучия')
            .col-md-4.col-sm-3
            .col-md-4.col-sm-6
                +uses('use_container_ten','use_img_ten','img/use_ic_10.png','Профессиональная самоцель','Мир просыпается, наука претерпевает прогресс, а существование высших сил и души уже ни для кого не секрет. Вы рассматриваете эзотерическое ремесло как перспективную профессию для самореализации и желаете обучаться только лучшему', 'Метафизика разработана для расширения сознания и гармонизации жизни во всех её аспектах, и как следствие данный интенсив является высокой базой для создания специалиста экстрасенса-целителя, позволяющей также повысить квалификации уже работающих мастеров')
        button.button  Измениться сейчас