#last
	padding 40px 0
	position relative
	overflow hidden
#clouds
	position: absolute
	width 100%
	margin 0 auto
	bottom: -400px
	left 0
	right 0
	z-index 10
.lasts_title
	font-size: 36px;
	font-family: "AkrobatBold", sans-serif
	color: rgb(254, 254, 254);
	line-height: 1
	text-align: center
	text-shadow: 3.064px 2.571px 0px rgba(13, 10, 10, 0.41);
	margin-bottom: 60px
	span:first-child
		font-family: "AkrobatBlack", sans-serif
		color rgb(224, 13, 2);
	span:last-child
		font-family: "AkrobatBlack", sans-serif
		color #3d74da
.lasts_list
	width 100%
	max-width 480px
	margin 0 auto 50px
	li
		list-style: none;
		padding-left: 30px;
		background-image: url("../img/triangle.png");
		background-repeat: no-repeat;
		background-position: 0 7px;
		font-size: 20px;
		color: #fff;
		line-height: 1.444;
		margin-bottom: 10px;
.button_last
	position relative
	z-index 99
	max-width 390px