@media screen and (min-width 1900px)
    #clouds
        bottom: -650px
@media screen and (min-width 2295px)
    .container
        width: 1400px
    .contacts a .fa
    .contacts a .fa+span
        font-size: 20px
    .pre
        font-size: 26px
        margin-top: 45px
    .main_title
        font-size: 23px
        max-width 1000px
        margin 25px auto
    .main_sub_title
        margin-bottom: 40px
    .only_for
        margin-top: 65px
    .price
        font-size: 26px
        margin-bottom: 40px
    .button
        font-size: 24px
    .seconds_title
        font-size: 24px
        max-width 1000px
    .thirds_list
        max-width 900px
        li
            font-size: 24px
    .lasts_list
        max-width 550px
        li
            font-size: 24px
    .button_last
        max-width 400px
    #footer #conditions, #footer p
        font-size: 18px
@media screen and (max-width 1199px)
    .contacts a .fa
        margin 0 8px 0 14px
    .only_for
        margin 10px 0
    #clouds
        bottom: -300px
@media screen and (max-width 991px)
    #logo
        float: none
        margin 0 auto 10px
        display block
    .contacts
        float: none
        text-align: center
        a
            display: inline-block
            margin-bottom: 5px
    .only_for
        margin 0 0 10px
        font-size: 30px
        line-height: 1.2
    #clouds
        bottom: -200px
@media screen and (max-width 767px)
    .video_wrapper_main
        max-width 560px
        margin-bottom: 25px
@media screen and (max-width 426px)
    #header
        padding: 12px 0
    #logo
        width: 170px
    .contacts a .fa
    .contacts a .fa + span
        font-size: 14px
    .pre
        font-size: 20px
    .main_title
        margin 10px 0
    .main_sub_title
        font-size: 32px
    #second
        padding 20px 0
    .seconds_title
        font-size: 22px
    #wrapper
        padding-top: 40px
    .thirds_title
        font-size: 30px
    .thirds_list li
    .lasts_list li
        padding-left: 20px
        font-size: 18px
        line-height: 1.3
        margin-bottom: 10px
    .lasts_title
        font-size: 32px
        margin-bottom: 30px
    #last
        padding 30px 0
    .lasts_list
        margin-bottom: 30px
    #footer
        padding 20px 0
    #footer h5
        font-size: 20px
    #footer #conditions, #footer p
        font-size: 12px
    #clouds
        bottom: -100px
    #main:before
        height 154px
@media screen and (max-width 380px)
    .pre
    .main_title
        font-size: 18px
        line-height: 1.3
    .only_for
        font-size: 24px
    .seconds_title
        font-size: 20px
        line-height: 1.3
    .lasts_title
        font-size: 28px
    .soc_buttons a
        margin 10px
    .button_last
        font-size: 16px
    .lasts_title span:first-child
        display: inline-block