#wrapper
	padding 60px 0 0
	background-image url(../img/second_bg.png)
	background-repeat no-repeat
	background-position: center top
	background-size: cover
	overflow hidden
	position relative
.thirds_title
	font-size: 40px;
	font-family: "AkrobatBlack", sans-serif
	color: rgb(254, 254, 254);
	text-transform: uppercase;
	line-height: 1
	text-align: center
	text-shadow: 3.064px 2.571px 0px rgba(13, 10, 10, 0.41);
	margin-bottom: 35px
	text-decoration: underline
.thirds_list
	width 100%
	max-width 650px
	margin 0 auto
	li
		list-style: none;
		padding-left: 30px;
		background-image: url("../img/triangle_red.png");
		background-repeat: no-repeat;
		background-position: 0 7px;
		font-size: 20px;
		color: #fff;
		line-height: 1.444;
		margin-bottom: 10px;