#author
    position relative
    background-image: radial-gradient( 50% 50%, circle closest-side, rgb(53,53,53) 15%, rgb(42,41,41) 52%, rgb(12,12,12) 100%);
    padding 100px 0
    &:before
        content ''
        display: block
        position: absolute
        top -800px
        left 0
        right 0
        width 100%
        height 1167px
        background-image url(../img/divider_2.png)
        background-repeat no-repeat
        background-position: center bottom
        background-size: cover
#clouds_about
    display block
    position: absolute
    width 100%
    bottom -400px
    margin 0 auto
    left 0
    right 0
    z-index 20
#nic_about
    position relative
    left -50px
    z-index 10
.nic_about_name
    margin 55px 0 35px 60px
    font-size: 30px;
    font-family: "AkrobatBlack", sans-serif
    color: rgb(61, 116, 218);
    text-transform: uppercase;
    line-height: 1
.nic_about_list
    li
        list-style none
        padding-left: 30px
        background-image url(../img/triangle.png)
        background-repeat no-repeat
        background-position 0 7px
        color: rgb(255, 255, 255);
        line-height: 1.625;
        margin-bottom: 10px
        margin-left: 30px