#great_gradient
    background-image: radial-gradient( 50% 50%, circle closest-side, rgb(53,53,53) 15%, rgb(42,41,41) 52%, rgb(12,12,12) 100%);
    position relative
    &:before
        content: ''
        display block
        width 100%
        position: absolute
        top -1000px
        left 0
        right 0
        height 1414px
        background-image url(../img/divider_1.png)
        background-repeat no-repeat
        background-position: center
        background-size: cover
        z-index: 2
#for
    padding 109px 0 69px
    background-color #0C0C0C
    .container
        position relative
        z-index 9
.for_img
    display block
    margin 0 auto 27px
.for_text
    text-align: center
    color: rgb(254, 254, 254);
    line-height: 1.625;
    margin-bottom: 50px
.for_blockquote
    margin: 20px auto 60px
    text-align: center
    width 100%
    max-width 616px
    font-size: 18px;
    font-family: "OpenSansSemibold", sans-serif
    color: rgb(220, 43, 34);
    line-height: 1.611;