#main
	width: 100%
	background-color: #000
	background-image url(../img/main_bg.png)
	background-repeat no-repeat
	background-position center top
	background-size: cover
	overflow hidden
	padding-bottom:  23px
	position relative
	&:before
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 15;
		background-image: url("../img/clouds_main.png");
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
		height: 291px;
		margin: 0 auto;
	.container
		position relative
#header
	padding: 31px 0
	overflow hidden
	z-index: 9
	position relative
	margin-bottom: 18px
#logo
	float: left
	opacity .5
	width 193px
	height auto
.contacts
	float: right
	text-align: right
	line-height  12px
	a
		font-size: 10px
		&:focus
			text-decoration: none
		.fa
			color: #538ffe
			font-size: 16px
			margin: 0 15px 0  40px
			line-height: 12px
		.fa+span
			line-height: 12px
			font-size: 16px;
			font-family: "OpenSansLight", sans-serif;
			color: rgba(#fff, .6)
			text-align: right;
			&:hover
				text-decoration underline
.tel:first-child
	.fa-phone
		margin-left: 0
#nic_main
	position: absolute
	bottom: -52px;
	right: 23px;
	z-index 1
.pre
	font-family: "OpenSansBold", sans-serif
	color: rgb(224, 13, 2);
	text-transform: uppercase;
	letter-spacing: 1.3px;
.main_title
	font-size: 47px;
	font-family: "AkrobatBlack", sans-serif
	color: rgb(254, 254, 255);
	text-transform: uppercase;
	line-height: 1.17;
	text-shadow: 3.064px 2.571px 0px rgba(13, 10, 10, 0.41);
	margin: 17px 0 7px
	letter-spacing: 1.8px;
.main_sub_title
	font-size: 20px;
	font-family: "OpenSansRegular",sans-serif
	color: rgb(255, 255, 255);
	line-height: 1.3;
	width 100%
	max-width 566px
.main_date
	font-size: 28px;
	font-family: "AkrobatBlack", sans-serif
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	margin 17px 0 21px
.main_date_blue
	color #538ffe
.main_date_time
	font-family: "AkrobatRegular", sans-serif
	letter-spacing: -0.2px;
.main_author
	position: absolute
	bottom: 33px;
	right: 198px;
	font-size: 22px;
	font-family: "AkrobatRegular", sans-serif;
	color: rgb(255, 255, 255);
	line-height: 1.182;
	z-index 10
	span
		font-family: "AkrobatBold", sans-serif;
.video_wrapper_main
	max-width 424px
	margin-left: 0
	z-index 25