@media screen and (min-width 1900px)
    #use
        background-position: center bottom
@media screen and (min-width 2290px)
    .container
        width 1400px
    #logo
        width auto
    .contacts a .fa+span
    .contacts a .fa
    #footer #conditions, #footer p
    .mail_subtitle
    #footer #conditions, #footer p
        font-size: 18px
    .pre
    .mail_section_title+p
        font-size: 22px
    .main_sub_title
    .main_author
        font-size: 26px
    .video_wrapper_main
        max-width 700px
    .checking .check_label
        font-size: 14px
    .checking
        max-width 98%
    .button
        font-size: 24px
        max-width: 360px
        height: 60px;
        line-height: 60px;
    .form_newsletter_mail_section .mail
        height 60px
        line-height: 60px
    .mail_section_title
        margin-top: 40px
    .form_newsletter_mail_section .mail
    .alert_message
    .use_container_text
    .for_text
    .nic_about_list li
    #myPolitics .modal-body p
        font-size: 20px
    .main_author
        right 70px
    #nic_main
        width: 545px
    .plan_day_list li
    .nic_blockquote
    .nic_blockquote_aftertitle
    .for_blockquote
    .right_now+p
    #modalForm .form_bonus
    #myPolitics .modal-title
        font-size: 24px
    .use_subtitle+p
        font-size: 24px
        max-width 1240px
    .nic_blockquote
        font-size: 24px
        max-width 1140px
    .use_container
        max-width 100%
        height 575px
    .use_container_title
        margin-left: 166px
    .use_container_ten
        height 600px
    .plan_day_one .plan_day_img
    .plan_day_two .plan_day_img
        top 126px
    .for_blockquote
        font-size: 24px
        max-width 816px
    #author:before
        height 1300px
        top -500px
    #great_gradient:before
        height 1900px
    #modalForm input
        max-width 320px
        height 55px
        line-height 55px
    #reveiws
        background-position: center -800px
@media screen and (max-width 1199px)
    .contacts a .fa
        margin: 0 8px 0 14px
    .mail_section_title:after
        right 4px
    .mail_section_title_2:after
        right 75px
    .use_container
        height 560px
    .use_container_ten
        height 590px
    .plan_day_one .plan_day_img
        left: -107px;
        top: 130px;
    .plan_day_two .plan_day_img
        right: 122px;
        top: 100px;
    #nic_about
        left -150px
    #clouds_about
        bottom: 0
@media screen and (max-width 991px)
    #header
        padding 15px 0
        margin-bottom: 10px
    #logo
        display block
        float: none
        margin 0 auto 10px
    .contacts
        float: none
        text-align: center
        a
            display: inline-block
    #nic_main
        width: 360px;
        right: -95px;
    .main_author
        right 0
    .mail_section_title
        text-align: center
        margin-top: 0
        &:after
            content none
        &+p
            text-align: center
    .form_newsletter_mail_section
        margin 10px auto 25px
    #use
    #for
    #author
        padding 60px 0
    .use_subtitle + p
        margin-bottom: 60px
    .use_container
        height 530px
    .general_title
    #text_revs
        margin-bottom: 60px
    .plan_day_img
        display: none
    #plan
    #reveiws
        padding-bottom: 60px
    .for_text
        width 100%
        max-width 500px
        margin 0 auto 50px
    #nic_about
        left -250px
        z-index 0
    .text_revs_link
        max-width 590px
        height 320px
@media screen and (max-width 767px)
    .pre
    .main_title
    .main_sub_title
    .main_date
    .main_author
        text-align: center
    #nic_main
        display: none
    .main_author
        position: static
        margin-bottom: 20px
    .main_sub_title
        margin: 0 auto
    .main_date
        margin 10px 0
    .video_wrapper_main
        margin-left: auto
    .use_container
        height auto
        padding-bottom: 20px
        margin-bottom: 30px
    #nic_about
        position: static;
        margin: 0 auto;
        display: block;
        max-width: 360px;
        width 100%
    #clouds_about
        top 280px
    .video_wrapper_rev
        max-width 480px
        margin-bottom: 35px
    .text_controls
        top auto
        bottom: 20px
        max-width 590px
    .right_now
        margin-top: 95px
    .text_revs_link
        height auto
    .soc_button_tg
        margin 10px auto
    .mail_soc_buttons .soc_button_tg
        margin 0 10px
    #modalForm h4
        margin-top: 35px
@media screen and (max-width 426px)
    #header
        margin-bottom: 5px
    #logo
        width: 160px
    .contacts a .fa
    .contacts a .fa + span
        font-size: 13px
    .main_title
        font-size: 32px
    .main_date
        font-size: 24px
        margin-bottom: 10px
    #footer
        padding 20px
    #footer h5
        font-size: 20px
        line-height: 1.3
    .soc_buttons a
        margin 10px
    #footer #conditions, #footer p
        font-size: 12px
    .form_newsletter_mail_section .mail
    .form_newsletter_mail_section .button_mail
        float: none
        max-width 360px
        display block
        margin 0 auto
    .form_newsletter_mail_section
        margin-bottom: 15px
    #author, #for, #use
        padding 30px 0
    .use_subtitle
        font-size: 26px
        &+p
            margin 30px auto
    .general_title
        font-size: 28px
        margin-bottom: 30px
    .use_container
        max-width 280px
    .use_container_image
        width: 113px
        display block
        &:before
            top: -41px;
            left: 16px;
            width: 80px
            height 80px
        img
            position relative
            z-index 9
            width: 32px
            margin 5px auto 0
    .use_container_title
        margin 16px 10px 26px 100px
    #modalForm h4
        margin 40px 0 10px
    .plan_day_title
        margin 20px 0
    .bonus
        margin-bottom: 20px
    .plan_day
        padding 10px 0
    #plan
        background-image: none
        padding-bottom: 20px
    .for_text
        max-width 280px
        margin-bottom: 30px
    .for_img
        margin-bottom: 10px
    .for_blockquote
        margin 0 auto 40px
    #author
        padding-top: 0
        background-image: none
    #reveiws
        padding 0 0 10px
    #text_revs
        margin-top: 20px
    .right_now
        margin-top: 70px
        font-size: 26px
        &+p
            margin 30px 0
    #plan
        padding-top: 0
    .plan_day_title
        font-size: 24px
    .bonus
    .bonus_title
    .bonus_text
        display block
    .bonus_title
        margin-bottom: 5px
    .nic_about_name
        margin 40px 0 20px
    .nic_about_list li
        margin-left: 0
        padding-left: 20px
    #myPolitics .modal-title
        font-size: 20px
        margin-top: 30px
@media screen and (max-width 360px)
    .main_title
        font-size: 28px
        margin 15px 0
    .use_container_ten
        .use_container_title
            margin-left: 90px