#use
    padding 95px 0 100px
    background-color rgb(12,12,12)
    background-image url(../img/use_bg_2.png)
    background-position: center -260px
    background-repeat no-repeat
    background-size: cover
.use_subtitle
    font-size: 32px;
    font-family: "AkrobatBold", sans-serif
    color: rgb(61, 116, 218);
    text-transform: uppercase;
    line-height: 1
    text-align: center;
    &+p
        font-size: 18px
        text-align: center
        width 100%
        max-width 1005px
        margin 34px auto 138px
        color #fff
        line-height: 1.61
        span
            font-family: 'OpenSansBold', sans-serif
.use_container
    background-color: rgb(255, 255, 255);
    width 100%
    max-width: 357px;
    height: 469px;
    margin 0 auto 60px
    position relative
    overflow hidden
.use_container_image
    width: 146px
    height 55px
    background-position: center 10px
    background-repeat no-repeat
    position absolute
    top 0
    left 0
    display: flex
    align-items: center
    justify-content: center
    &:before
        content: ''
        position: absolute
        top -52px
        left 21px
        transform: rotate(45deg)
        width 103px
        height 103px
        background-color: #0075DE
    img
        display block
        margin 0 auto
        z-index 8
.use_container_title
    display: inline-block
    font-size: 18px;
    font-family: "AkrobatBlack",sans-serif
    color: rgb(16, 16, 18);
    text-transform: uppercase;
    line-height: 1.444;
    text-align: left;
    margin 33px 10px 36px 159px
.use_container_text
    color: rgb(16, 16, 18);
    line-height: 1.5;
    text-align: center;
    padding 0 15px
    &:last-child
        margin-top: 19px
        font-family: 'OpenSansSemibold', sans-serif
.use_container_ten
    border 3px solid #C60501
.use_img_ten
    &:before
        background-color #C60501
.use_container_four
    .use_container_title
        margin-top: 20px
        margin-bottom: 25px;

.use_container_ten
    height 530px
    .use_container_title
        margin-top: 15px
        margin-bottom: 25px;