#for
    padding 95px 0 100px
    background-color rgb(12,12,12)
    background-image url(../img/use_bg.png)
    background-position: center -260px
    background-repeat no-repeat
    background-size: cover
.use_container
    background-color: rgb(255, 255, 255);
    width 100%
    max-width: 357px;
    height: 430px;
    margin 0 auto 60px
    position relative
    overflow hidden
.use_container_image
    width: 146px
    height 55px
    background-position: center 10px
    background-repeat no-repeat
    position absolute
    top 0
    left 0
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    &:before
        content: ''
        position: absolute
        top -52px
        left 21px
        transform: rotate(45deg)
        width 103px
        height 103px
        background-color: #0075DE
    img
        display inline
        z-index 8
.use_container_title
    position: absolute
    font-size: 18px;
    font-family: "AkrobatBlack",sans-serif
    color: rgb(16, 16, 18);
    text-transform: uppercase;
    line-height: 1.444;
    text-align: left;
    top: 30px
    left  130px
.use_container_text
    color: rgb(16, 16, 18);
    line-height: 1.5;
    text-align: center;
    padding 0 15px
    margin-top: 90px
.use_container_three
.use_container_four
    .use_container_title
        top: 19px