@media screen and (min-width 2290px)
	.container
		width 1400px
	.contacts a .fa
	.contacts a .fa+span
	.pre
	.use_container_text
	.video_tabs_buttons li
		font-size: 20px
	.main_title span
	.button
	.use_container_title
	.price_head_title
	.price_body_title
	.video_tabs_day_title
		font-size: 24px
	#second p
		font-size: 24px
		max-width 1050px
	.use_container
		height 570px
		max-width 420px
	.use_container_text
		padding 0 25px
	.use_container_four .use_container_title, .use_container_three .use_container_title
		top 11px
	.price_container
		max-width 380px
	.price_head_title span
		font-size: 28px
	.price_body_list li
		font-size: 20px
		margin-bottom: 20px
	.price_body_more
		font-size: 19px
		max-width 105px
	.price
		font-size: 30px
	.modal_body_list li
		font-size: 22px
		margin-bottom: 20px
	.modal_subtitle
		font-size: 26px
	.prices_modal-dialog
		max-width 1000px
	.video_tabs
		max-width 800px
	.video_tabs_day_text
		font-size: 22px
	#footer #conditions, #footer p
		font-size: 18px
	.price_body    
		height 1140px
@media screen and (max-width 1199px)
	.contacts a .fa
		margin 0 8px 0 14px
	.use_container
		height 550px
	.use_container_one .use_container_title
	.use_container_two .use_container_title
		top 19px
	.price_body
		height 1015px
@media screen and (max-width 991px)
	#logo
		float: none
		display block
		margin: 0 auto 10px
	.contacts
		float: none
		text-align: center
		a
			display: inline-block
			margin-bottom: 5px
	.use_container
		height 450px
	.price_body
		height auto
	.price_container
		margin-bottom: 40px
	.prices_modal-dialog
		max-width 96%
	.prices_pre
		margin-top: 0
@media screen and (max-width 767px)
	#header
		padding 15px 0
		margin-bottom: 5px
	#main
	#videos
		padding-bottom: 40px
	.use_container
		height auto
		padding-bottom: 20px
		margin-bottom: 40px
	#vk
		margin-bottom: 25px
	#for
		padding 40px 0
	.general_title
		margin-bottom: 35px
	#prices
		padding 40px 0
	#footer
		padding 20px 0
	#feedback
		padding-top: 40px
	.price_body_more
		margin 5px auto
@media screen and (max-width 481px)
	#main
		padding-bottom: 30px
	#logo
		width: 170px
	.contacts a .fa
	.contacts a .fa + span
	#footer #conditions, #footer p
		font-size: 12px
	.main_title
		font-size: 32px
	.main_date
	.price
	.modal_title
		font-size: 24px
	.button_man
		margin-top: 30px
	#second
	#for
	#prices
		padding: 30px 0
	#second p
		font-size: 18px
		line-height: 1.4
		margin-bottom: 20px
	.general_title
		font-size: 28px
	#footer h5
		font-size: 18px
	.price_body
	.video_container
	.price_footer
		padding 15px
	.use_container
		padding-bottom: 15px
	.flip-clock-wrapper
		width 100%
		max-width 260px
	.flip-clock-wrapper ul
		height 50px
		margin 3px
	.flip-clock-wrapper ul li
		line-height: 50px
	.flip-clock-wrapper ul li a div.up::after
		top 24px
	.flip-clock-wrapper ul li a div div.inn
		font-size: 40px
	.flip-clock-divider
		height 50px
	.flip-clock-dot
		width 7px
		height 7px
		left 3px
	.flip-clock-dot.top
		top 31px
	.flip-clock-dot.bottom
		bottom: 27px
	.flip-clock-divider .flip-clock-label
	.flip-clock-divider.minutes .flip-clock-label
	.flip-clock-divider.seconds .flip-clock-label
		font-size:  10px
		right: -59px
	.timer h4
		font-size: 28px
	.modal_subtitle
		font-size: 20px
		margin-bottom: 10px
	.modal_body_list
		margin-left: 20px
		margin-bottom: 20px
	.modal_body_list li
		font-size: 16px
	#feedback
		padding-top: 30px
	.prices_pre
		font-size: 24px
		max-width 150px
		margin-bottom: 5px
	.prices_action
		font-size: 34px
	.prices_action_text
		font-size: 20px
@media screen and (max-width 380px)
	.video_tabs_day_text
		font-size: 16px
		margin-bottom: 10px
	.general_title
	.timer h4
		font-size: 24px
	.use_container_text
		padding 0 10px
	.use_container_image
		width: 70px
		&:before
			left -17px
	.use_container_title
		left 96px
		font-size: 17px
	.price_body, .price_footer, .video_container
		padding 10px
	.price_body_list li
		padding-left:  13px
		margin-bottom: 10px
		background-size: 7px;
		background-position 0 7px
	.main_date, .modal_title, .price
		font-size: 22px
		margin-bottom: 10px
	.day_video_wrapper
	#footer h5
		margin-bottom: 10px
	.soc_buttons a
		margin 10px
	.video_tabs_buttons li
		padding 10px
	.prices_pre
		font-size: 20px
		max-width 127px
	.prices_action
		font-size: 30px
	.prices_action_text
		font-size: 18px
		margin 10px auto
	.timer h4
		margin-top: 30px
	