footer#footer
	.container
		.soc_buttons
			h5 Хотите узнать больше? Вступайте в наши группы!
			a(href="https://www.facebook.com/Mastervision1C/" target="_blank")
				i(class="fa fa-facebook" aria-hidden="true")
			a(href="http://vk.com/mv_ezoterika" target="_blank")
				i(class="fa fa-vk" aria-hidden="true")
			a(href="https://twitter.com/MastervisionEzo" target="_blank")
				i(class="fa fa-twitter" aria-hidden="true")
			a(href="https://www.instagram.com/mastervision1/" target="_blank")
				i(class="fa fa-instagram" aria-hidden="true")
			a(href="https://ok.ru/mv.ezoterika" target="_blank")
				i(class="fa fa-odnoklassniki" aria-hidden="true")
			a(href="https://www.youtube.com/channel/UCiJTdt19jRMRmYyCZac2Lvg/" target="_blank")
				i(class="fa fa-youtube" aria-hidden="true")
			.clfix
		p ИП Кудряшов Александр Анатольевич, Тюмень, проезд Летний, 9а, ИНН 720410077658, ОГРН 315723200065100
		a#conditions(href="http://mastervision.su/oferta.docx") Условия возврата денежных средств
.modal.fade(tabindex="-1" role="dialog")#modalModule_1
	.modal-dialog.prices_modal-dialog(role="document")
		.modal-content.prices_modal-content
			.modal-wrapper
				button(type="button" class="close module_close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				.modal-body
					h4.modal_title 12 занятий
					h5.modal_subtitle 1. Введение в Экстрасенсорный транс
					ul.modal_body_list
						li подлинное чувствование и видение энергий
						li управление сознанием и внутренним диалогом
						li подключение к центральном космическому потоку и ядру Земли
						li самоуспокоение и проработка тяжелых моральных состояний
						li первый опыт прямого видимого воздействия на другого человека
						li мгновенное улучшение самочувствия, снятие злобы\агрессии\печали у людей
					h5.modal_subtitle 2. Энергетические центры. Чакры и их неизвестные функции
					ul.modal_body_list
						li органы и отделы биологического тела, которыми управляют чакры
						li позвоночник как отдельный проводящий и поддерживающий конструкт
						li неизвестные функции чакр, их влияние на психику
						li мужские и женские чакры “классический мужчина” и “классическая женщина”
						li абсолютная взаимосвязь внешности и психики
						li питание и вредные привычки, как зависят от психики и чакр
						li “медитация координаты” и высшая дыхательная практика
					h5.modal_subtitle 3. Метафизика Мироздания. Устройство судьбы
					ul.modal_body_list
						li как устроен Мир подлинный смысл жизни
						li фатум и судьба, выход за рамки, коррекция негативных событий
						li фактор свободы воли, этика и эстетика экстрасенса
						li деньги как энергия, почему их много или мало, проводимость
						li земная любовь, отношения между мужчиной и женщиной
						li подключение к природным источникам энергии Солнце и Луна
						li первоначальные техники целительства, начинаем с малого
						li как убрать головную боль, боль в суставах и позвоночнике
						li нормализация давления (снижение при гипертонии, повышении при гипотензии)
					h5.modal_subtitle 4. Видение и чувствование. Чакральная картина
					ul.modal_body_list
						li настоящая визуализация, чем отличается от привычной
						li обусловленный ум и искаженное восприятие информации
						li очищение визуализации, конкретика приёма информации
						li просмотр собственных чакр, составляем первую чакральную картину человека
						li трактуем чакральную картину, вычленяем сильные и слабые стороны личности
						li ценность информации, как эти данные помогут на личных консультациях
						li просмотр/воздействие на дистанции, две техники “сцепления” с другим человеком
						li межчакральные нити, связывающие двух людей, привязки
						li анализ отношений между людьми и их мотивации
					h5.modal_subtitle 5. Желания и страхи, и их исполнение\предотвращение
					ul.modal_body_list
						li понятие “события”, считывание события
						li желание и страх как структуры события, которые мы программируем
						li почему страхи реализуются быстрее желаний
						li механизм исполнения желаний, почему желания часто исполняются с “но”
						li соответствие человека и его желания, проработка несоответствия
						li тонкое видение структуры своих желания и страха, их анализ
						li преобразование и коррекция структур событий
						li учимся благостно внедряться в психику другого человека
						li просмотр желания другого человека и его соответствия с желанием
						li внедрение в тонкое поле личности для удаления страхов и комплексов
					h5.modal_subtitle 6. Введение в целительство
					ul.modal_body_list
						li психика как основной катализатор заболеваний
						li этапы формирования ментальных недугов и физических заболеваний
						li недуги извне: травмы, бактерии, вирусы, их специфика
						li врожденные заболевания и болезни детей, анализ причины
						li законы, позволяющие не болеть вовсе
						li самоисцеление, глубокий запуск исцеляющих процессов
						li Всем ученикам вручается в электронном виде методический материал с описанием психосоматики более 500 распространенных заболеваний.
					h5.modal_subtitle 7. Эгрегор структура сообщества. Подключение к эгрегору Райдера-Уэйта
					ul.modal_body_list
						li сообщество как рукотворная иерархия
						li основные элементы эгрегоров и субординация сообщества
						li увидеть любой эгрегор и проанализировать его “благость”
						li зарезервированные места в эгрегоре должности в сообществе
						li соответствие человека и должности в эгрегоре, как проверить
						li “общение” с эгрегором, возможность увидеть своё место в иерархии сообщества
						li перемещение в иерархии, получение должности или подключение к новому эгрегору
						li собственный эгрегор личности практикующего мастера
						li эгрегор Таро Райдера-Уэйта, почему именно он и как не быть зависимым от эгрегора
						li основные энергетические и этические принципы работы с таро
						li подключение личной колоды таро к чистому информационному фильтру
					h5.modal_subtitle 8. Введение в улучшенное Таро. Авторский метод
					ul.modal_body_list
						li скрытые возможности универсального таро
						li неизвестная информация о мастях таро
						li как провести чистый не обусловленный расклад
						li расширенный транс для взаимодействия с картами
						li сплетение экстрасенсорики и расклада таро
						li правильная постановка вопроса картам, конкретизация образа
						li использование карт для целительства психики и тела, коррекции судьбы
						li масть жезлов, чакры 3 и верх 2, воля и энтузиазм, стихия огня
						li масть кубков, чакры 4 и 2\1, чувства и эмоции, стихия воды
					h5.modal_subtitle 9. Система уникальных раскладов на все случаи жизни
					ul.modal_body_list
						li масть мечей, чакра 5, интеллект и авторитет, стихия металла
						li масть пентаклей, чакра 1, тело и материальные блага, стихия земли
						li старшие арканы, чакры 6 и 7, глубинные состояния духа
						li коррелируем полученные знания о чакрах с раскладами
						li особые расклады, применяемые в целительстве и коррекции событий
						li извлечение первопричины болезни и события при помощи таро
						li самые востребованные расклады: ход события, будущее и отношения
						li этика и эстетика консультации таролога
						li всем ученикам вручается в электронном виде методический материал с описанием дополнительных значений каждой карты и комбинаций.
					h5.modal_subtitle 10. Углубленное целительство
					ul.modal_body_list
						li сопряжение полученных раскладов таро, чакральных знаний и аналитических техник
						li глубинное изучение болезни, орган или участок тело как цельный механизм
						li укрепление тела с помощью изученных энергий
						li восстановление работы органа, приведение органа в эталонное состояние
						li психологическая работа с потенциальным клиентом на основе таро, этика
						li при помощи техники извлечения страхов глубинное внедрение в тонкое информационное поле человека и события из его прошлого, увидеть прошлое
						li как обесточить отягощающие события прошлого и устранить пагубные рефлексы
						li финальная стадия исцеления, закрепить результаты
					h5.modal_subtitle 11. Смерть и Вознесение
					ul.modal_body_list
						li механика смерти и её значение в жизни каждого человека
						li полное описание процессов, происходящих на момент смерти
						li ликвидация страхов смерти и физического насилия\боли
						li общение с мертвыми, техника безопасности
						li просмотр положения умершего, вознесся ли он
						li техника вознесения мертвого, помощь умершему обрести умиротворение
						li отвязка мертвых от живых, раскрепощение рода
						li работа с сущностями и астральными подселенцами, удаление паразитов
						li техника безопасности при работе с инородными структурами, очищение
					h5.modal_subtitle 12. Дополнительные возможности. Подведение итогов
					ul.modal_body_list
						li вновь обращаемся к земным темам: деньги, отношения
						li просмотр и очистка пространства, облагораживание окружения
						li локальный поиск предметов и людей на местности
						li создание заряженных предметов, артефактов
						li использование артефактов в целительстве
						li доп. информация о ведении консультаций
						li ответы на вопросы, напутствия