section#for
    .container
        h3.general_title Данный курс принесет Вам:
        mixin uses(cl, cl2, src, h5, p1)
            .use_container(class= cl)
                .use_container_image(class= cl2)
                    img(src= src, alt= h5)
                h5.use_container_title= h5
                p.use_container_text= p1
        .row
            .col-md-4.col-sm-6
                +uses('use_container_one','use_img_one', '../img/use_ic_6.png','Осознанность и лёгкость','Метафизика и экстрасенсорика - не только прикладные инструменты и знания, но совершенно новое восприятие жизни и ее течения. Вы научитесь подлинно чувствовать себя, окружающее пространство и людей вокруг: негативных событий в Вашей жизни становится на порядок меньше, а приходящие события завершаются быстро, как личность Вы развиваетесь увереннее и глубже')
            .col-md-4.col-sm-6
                +uses('use_container_two','use_img_two', '../img/use_ic_9.png','Мастерство и профессия','Сверхчувствительность, видение, универсальное таро, целительское ремесло и метафизика - всё станет единой интегральной картиной и закрепится практическими навыками. Вы обретете квалификацию в самых востребованных и увлекательных направлениях эзотерики. Полученные знания и отработанная на занятиях практика позволят даже новичкам качественно вести консультации и помогать людям, а уже работающим мастерам - поднять планку качества на новый уровень')
            .col-md-4.col-sm-6
                +uses('use_container_three','use_img_three', '../img/use_ic_10.png','Трансцендентность и единство','Ваше доверие ко Вселенной станет нерушимым, и Вы преисполнитесь спокойствием и расслаблением. Повседневная суета потеряет отягощающую составляющую своего веса. В течение курса от занятия к занятию Ваши страхи и комплексы будут стремительно отмирать - раз и навсегда. Вы по-настоящему окунётесь в чувствование энергий течения жизни и всеединства бесконечно-вечного')
        .row
            .col-md-4.col-sm-6
                +uses('use_container_four','use_img_four', '../img/use_ic_8.png','Отношения и взаимопонимание','Благостные отношения - с родными и близкими, с окружающими людьми и, конечно, с самим собою - станут неотъемлемой частью Вашей жизни. Вы по-новому взглянете на процесс построения отношений между полами, поделитесь своим развитием с партнёром (или притянете осознанного партнера в свою жизнь, если такового сейчас нет), и каждый Ваш день наполнится искренностью и радостью')
            .col-md-4.col-sm-6
                +uses('use_container_five','use_img_five', '../img/use_ic_3.png','Материя и деньги','Изучение истинных законов движения и трансляции материальной энергии позволит Вам уже в течение обучения повысить уровень приходящих в жизнь денежных средств как для Вашего профессионального и личностного роста, так и для улучшения качества отдыха, досуга и исполнения желаний')
            .col-md-4.col-sm-6
                +uses('use_container_six','use_img_six', '../img/use_ic_2.png','Здоровье и тело','Вы кардинально измените статус психического здоровья в лучшую сторону, вместе с ним узнаете подлинные причины возникновения всех болезней внутренних и недугов извне: травм, вирусов, бактерий и инфекций. На занятиях Вы запустите процесс самоисцеления тела, научитесь исцелять себя и других людей даже от тяжелых заболеваний. Вы узнаете, как не болеть вообще - впредь даже мелкие простуды и головные боли обойдут вас стороной, не говоря уже о чем-то более серьезном')