#prices
	.container
		h3.general_title Записывайтесь прямо сейчас!
		.row
			.col-md-4.col-sm4
				.price_container
					.price_head
						h4.price_head_title пакет
							span Стандарт
					.price_body
						h4.price_body_title 12 занятий
						ol.price_body_list.price_body_list_ol
							li 
								span Урок 1. 
								| Введение в Экстрасенсорный транс
							li 
								span Урок 2. 
								| Энергетические центры. Чакры и их неизвестные функции
							li 
								span Урок 3. 
								| Метафизика Мироздания. Устройство судьбы
							li 
								span Урок 4. 
								| Видение и чувствование. Чакральная картина
							li 
								span Урок 5. 
								| Желания и страхи, и их исполнение\предотвращение
							li 
								span Урок 6. 
								| Введение в целительство
							li 
								span Урок 7. 
								| Эгрегор - структура сообщества. Подключение к эгрегору Райдера-Уэйта
							li 
								span Урок 8. 
								| Введение в улучшенное Таро. Авторский метод
							li 
								span Урок 9. 
								| Система уникальных раскладов на все случаи жизни
							li 
								span Урок 10.
								|  Углубленное целительство
							li 
								span Урок 11.
								|  Смерть и Вознесение
							li 
								span Урок 12.
								|  Дополнительные возможности. Подведение итогов
						button.price_body_more(data-toggle="modal" data-target="#modalModule_1") Подробнее
					.price_footer
						p.price.price_full Стоимость курса:
							span 9 889р.
						p.price.price_sale Скидка:
							span#sale_1 1 001р.
						p.price.price_today Стоимость сегодня:
							span#today_1 8 888р.
						a.button.price_footer_button(href="https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=2299&clean=true&lg=ru" target="_blank")#link_1 Выбрать
			.col-md-4.col-sm4
				.price_container
					.price_head
						h4.price_head_title пакет
							span Премиум
					.price_body
						ul.price_body_list.price_body_list_ul
							li 12 занятий курса
							li доп.занятие: уникальный современный ритуал на усиленное раскрытие денежного потока, расширение финансового интеллекта и осознанности
							li личная проверка преподавателем Ваших энергетических предрасположенностей, проверка и коррекция экстрасенсорного транса, демонстрация воздействия на расстоянии (используется видеосвязь)
							li индивидуальное чтение Вашего Дизайна Человека (Human Design)
							li составление личной программы питания в соответствии с Вашим Дизайном, индивидуальные рекомендации по улучшению экстрасенсорики
							li консультация по интересующим Вас вопросам
					.price_footer
						p.price.price_full Стоимость курса:
							span 19 688р.
						p.price.price_sale Скидка:
							span#sale_2 1 355р.
						p.price.price_today Стоимость сегодня:
							span#today_2 18 333р.
						a.button.price_footer_button(href="https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=2302&clean=true&lg=ru" target="_blank")#link_2 Выбрать
			.col-md-4.col-sm4
				.price_container
					.price_head
						h4.price_head_title пакет
							span VIP
					.price_body
						ul.price_body_list.price_body_list_ul
							li 12 занятий курса
							li все составляющие Премиум-пакета
							li раз в неделю (каждые 2 занятия) индивидуальные встречи с преподавателем (используется видеосвязь), глубинная 							li оработка освоенного материала и обретенных навыков
							li неограниченные консультации по интересующим Вас вопросам в течение курса
							li усиленная подготовка к Вашей дальнейшей профессиональной деятельности в качестве консультанта-практика 
					.price_footer
						p.price.price_full Стоимость курса:
							span 39 888р.
						p.price.price_sale Скидка:
							span#sale_3 3 000р.
						p.price.price_today Стоимость сегодня:
							span#today_3 36 888р.
						a.button.price_footer_button(href="https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=2306&clean=true&lg=ru " target="_blank")#link_3 Выбрать
		.timer
			h4 Скидка уменьшится через:
			.clock
			.clock-stop