section#second
    .container
        p Программа ориентирована на создание высококвалифицированного экстрасенса-целителя не только для коррекции собственной судьбы и здоровья, но и для дальнейшего исцеления заболеваний и консультирования заинтересованных людей по ряду самых востребованных жизненных вопросов/ситуаций
        p По окончанию курса студент выходит первоклассным специалистом в области метафизики, экстрасенсорики и целительства, способен вести продуктивные личные консультации и помогать людям