#videos
	.container
		h3.general_title Записи и домашние задания
		.video_tabs
			ul.video_tabs_buttons
				li День 1
				li День 2
				li День 3
			.video_container
				.video_tabs_day
					h4.video_tabs_day_title День 1
					.video_wrapper.day_video_wrapper
						iframe(src="https://youtube.com/embed/lVl8EHykWNw?rel=0" allowfullscreen)
					p.video_tabs_day_text Запись занятия появится здесь  01.11.18, после 12:00 мск
				.video_tabs_day
					h4.video_tabs_day_title День 2
					//- .video_wrapper.day_video_wrapper
					//-     iframe(src="https://youtube.com/embed/lVl8EHykWNw?rel=0" allowfullscreen)
					p.video_tabs_day_text Занятие состоится 01.11.18,  19:00 мск
					p.video_tabs_day_text Запись занятия появится здесь  02.11.18, после 12:00 мск
				.video_tabs_day
					h4.video_tabs_day_title День 3
					//- .video_wrapper.day_video_wrapper
					//-     iframe(src="https://youtube.com/embed/lVl8EHykWNw?rel=0" allowfullscreen)
					p.video_tabs_day_text Занятие состоится 02.11.18, 19:00 мск
					p.video_tabs_day_text Запись занятия появится здесь  03.11.18, после 12:00 мск
		h4.buy_recs Купить записи интенсива за 399р.
		a.button.buy_recs_button(href="https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=2309&clean=true&lg=ru" target="_blank") Купить
	include feedback